ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: blueviolet;
}

li {
  float: left;
}

li a {
  display:inline;
  padding: 16px;
  background-color: #dddddd;
  text-decoration: none;
}
.figure1 img{
  width: 50px;
    height: auto;
    position: relative;
    top: -41px;
    left: 548px;
    border-radius: 4px;
  }
.portfolio img{
  width:100%;
}
.title{
  color: brown;
  text-align: center;
}
.parag{
    font-size: 20px;
    font-family:"Roboto";

}
.video {
  position: relative;
  left: 0;
  bottom: 0;
  right: 2px;
  width: 50%;
  height: 100%;
  border: none;
}
/*
table
 

*/
section table{
  width: 50%;
  height: 100%;
  align-items: center;
  text-align: center;
  align-items: center;
    text-align: center;
    position: relative;
    left: 306px;
    border: none;
    box-shadow: #000 2px 2px 1px 2px;
    background-color: #45a09a23
  
}
form{
   width: 500px;

   background-color: #45a09a
}
.iframe{
  text-align: right;
  align-items: right;
    text-align: center;
    position: relative;
    left: 306px;
}
input[type=text], select {
  width: 17%;
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #45a049;
}
input[type=reset] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #45a049;
}

align-items: center;
  text-align: center;
  align-items: center;
    text-align: center;
    position: relative;
    left: 306px;